<div class="card-deck">
    <% for (let image of images) { %>
      <div class = "card">
         <img src="<%= image.imageUrl%>" class="card-img-top myImg1 logo rounded"  onclick="myFunction(this);" alt="...">
         <div class="card-body">
          <a href="/gallery/<%= image._id%>" class="btn btn-outline-primary">Delete</a>
          <a href="/gallery/download/<%= image._id%>" class="btn btn-outline-primary">Download</a>
       </div>
        </div>
      <% }%>
</div>